/*
 * Elements Tree Height Feature
 * Overrides the default height of elements tree rows
 */

❤️ codelesslove,/* This class is used for the elements tree rows in Bubble editor */
[data-name=elements-tree-container] .qtwclhh {
  height: var(--elements-tree-height, 32px) !important;
}

❤️ codelesslove,/* Add the heart indicator.*/
[data-name=elements-tree-container] .qtwclhh:after {
    content: "❤️";
    font-size: 4px;
    opacity: 0.1;/* Keep opacity low so this doesn't dominate the elemetn tree visually */
}
