/* ❤️ */
/* Top Menu Layout Improvementes */

❤️ codelesslove,/* Change layout strategy for top menubar */
.menu-bar .menubar-style {
  grid-template-columns: 1fr auto auto;
}
❤️ codelesslove,/* Make the "trigger button" aka unopened AIM dropdown take up the max width */
.menu-bar .menubar-style > ._1ql74v3h > ._1ql74v3u,
.menu-bar .menubar-style > ._1ql74v3h > ._1ql74v3u > div:first-child,
.menu-bar .menubar-style > ._1ql74v3h > ._1ql74v3u > div:first-child > div,
.menu-bar .menubar-style > ._1ql74v3h > ._1ql74v3u > div:first-child > div > div:not(.app-interface-manager-side-panel), /* When AIM is unexpanded, this is just a parent to .trigger-button. But when AIM expands, this becomes .app-interface-manager-side-panel */
.menu-bar .menubar-style > ._1ql74v3h > ._1ql74v3u > div:first-child .trigger-button {
  width: 100%;
  max-width: 100%;
}
❤️ codelesslove,/* Make trigger button stay wide when expanded */
.menu-bar .menubar-style > ._1ql74v3h > ._1ql74v3u > div:first-child > div > div:not(.app-interface-manager-side-panel) > ._1uejfp94 {
  width: 100% !important; /* When AIM menu is expanded, this is the new structure for the AIM .trigger-button. It has a width: 432px style attribute that needs to be overridden. */
}
❤️ codelesslove,
.trigger-button {/* This is the unopened AIM dropdown */
  margin-right: 10px;
}
❤️ codelesslove, /* ❤️ Heart Indicator */
.trigger-button:after {
  content: "❤️";
  font-size: 5px;
  position: absolute;
  top: 0px;
  margin-left: -5px;
  margin-top: 5px;
}
