/* ❤️ */
❤️ codelesslove, /* Make background grey */
.BranchIsMain #mainwindow,
.BranchIsMain #mainwindow > .tabcanvas,
.BranchIsMain #mainwindow > .tabcanvas .designcanvas,
.BranchIsMain .visual-edit-toolbox > .toolbox-pane,
.BranchIsMain .visual-edit-toolbox > .toolbox-pane [data-name=elements-tree-container] > div {
  background-color: transparent;
}
❤️ codelesslove, /* Make main area mostly invisible for most sections */
.BranchIsMain #mainwindow > .tabs-1.tabcanvas,
.BranchIsMain .visual-edit-toolbox > .toolbox-pane,
.BranchIsMain #mainwindow > .tabcanvas > .action-editor,
.BranchIsMain #mainwindow > .tabcanvas > .data-editor,
.BranchIsMain #mainwindow > .tabcanvas > .styles-editor,
.BranchIsMain .property-editor-2 {
  opacity: .7;
}
❤️ codelesslove, /* Plugins are slightly more visible because you might be justified to make changes here on Main */
.BranchIsMain #mainwindow > .tabcanvas > .plugin-editor {
   opacity: .8;
}
❤️ codelesslove, /* Settings and logs are only slightly dimmed because there's legitimate reasons to make changes here */
.BranchIsMain #mainwindow > .tabcanvas > .settings-editor,
.BranchIsMain #mainwindow > .tabcanvas > .logs-editor {
   opacity: .99;
}
❤️ codelesslove,/* Menu bar warning */
.BranchIsMain .menu-bar.menu-bar::before {
    content: "♥︎ You are on Main ♥︎";
    font-size: 8px;
    position: absolute;
    background: #ff0000e0;
    color: #000;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 2px 0;
}
❤️ codelesslove, /* Make space for the menu bar warning bar at the top*/
.BranchIsMain .menu-bar.menu-bar.menu-bar {
  height: calc(10px + 35px);
  padding-top: 10px;
}
❤️ codelesslove, /* Make space differently for when .pop-enabled is on*/
.BranchIsMain .menu-bar.menu-bar.menu-bar.pop-enabled {
  height: calc(10px + var(--menubar-height));
  padding-top: 10px;
}
❤️ codelesslove, /* Put a big red X on the background of everything */
.BranchIsMain > .body {
  /* content: "";
  z-index: 0;
  position: fixed;
  top: 54px;
  left: 40px;
  width: 100%;
  height: 100%; */
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(35deg, white 0%, transparent 50%, #FF0000CC 50%, #FF0000CC 50.05%, transparent 50.05%, transparent 100%),
                    linear-gradient(-35deg, transparent 0%, transparent 50%, #FF0000CC 50%, #FF0000CC 50.05%, transparent 50.05%, transparent 100%);
  background-size: 100%;
}
