:root {
  --cl-dark-contrast: 0.85;
  --cl-dark-brightness: 1.2;
}

@media (prefers-color-scheme: dark) {
  ❤️ codelesslove, html {
    & {
      filter: invert(1) hue-rotate(180deg) contrast(var(--cl-dark-contrast)) brightness(var(--cl-dark-brightness));
    }
    /* Cancel the inversion for mainwindow and its children */
    #mainwindow .designcanvas {
      filter: invert(1) hue-rotate(180deg) contrast(calc(1/var(--cl-dark-contrast))) brightness(calc(1/var(--cl-dark-brightness)));
    }

    /* Re-invert media OUTSIDE mainwindow */
    img, video, iframe {
      filter: invert(1) hue-rotate(180deg);
    }

    /* But inside mainwindow, the double-inversion already fixed them */
    #mainwindow .designcanvas img,
    #mainwindow .designcanvas video,
    #mainwindow .designcanvas iframe {
      filter: none;
    }
  }
}