/* ❤️ Hilight Most Recent Item in Search Palette*/
❤️ codelesslove, body {
  .search-palette .result-div.❤️current {
    background-color: aliceblue;
    position: relative;
    border: solid 1px cornflowerblue !important;
    &:hover {
      background-color: #bbdfff;
    }
  }

  .search-palette .result-div.❤️current::after {
    content: "❤️";
    font-size: 4px;
    position: absolute;
    top: 2px;
    right: 2px;
  }
}