/* ❤️ */
/* Data > Data types - make inputs as wide as they can be */
❤️ codelesslove,/* switch from float to flex mode */
#mainwindow .data-editor .tab-panel.data.types .custom-fields .field {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  gap: 8px; /* Adds spacing between elements */
}
#mainwindow .data-editor .tab-panel.data.types .custom-fields .field > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#mainwindow .data-editor .tab-panel.data.types .custom-fields .field > div:not(.composer-textbox, .composer-image) {
    width: fit-content !important;
}

❤️ codelesslove,/* make the div containing the input take the full space */
#mainwindow .data-editor .tab-panel.data.types .custom-fields .composer-textbox:first-child {
  flex-grow: 1; /* Takes up remaining space */
  min-width: 0; /* Prevents it from overflowing */
}

❤️ codelesslove,/* make the input element take the full width of its parent */
#mainwindow .data-editor .tab-panel.data.types .custom-fields .composer-textbox:first-child > input {
  width: 100%;/* fallback */
  width: -webkit-fill-available;
}

❤️ codelesslove, /* make all other items take the minimal they can */
#mainwindow .data-editor .tab-panel.data.types .custom-fields .field-type,
#mainwindow .data-editor .tab-panel.data.types .custom-fields .delete-btn,
#mainwindow .data-editor .tab-panel.data.types .custom-fields .comment-btn {
  flex-shrink: 0; /* Prevents these from shrinking */
}
